.menu a.active{
    border-bottom: 2px solid #FF7B00;
    /* border-bottom: #FF7B00; */
    /* background: #FF7B00; */
    color: #FF7B00;

}
.menu a{
    font-weight: 500;
}
/* ul li{
    color: white;
} */